
A:link		{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; text-decoration: none; color: #AAAAAA  }
A:active		{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; text-decoration: none; color: #AAAAAA  }
A:visited		{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; text-decoration: none; color: #AAAAAA  }
A:hover		{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; text-decoration: none; color: #CCCCCC  }

.ttp 		{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; color: #FF48AF  }
.ttg 		{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; color: #555555  }

